{% extends "core/base.html" %}
{% block content %}

    <h2>Cadastro - Produto</h2>
    <br>
    <p>
        <a class="btn btn-info" href="{% url 'create_produto' %}" role="button">Criar Permissão</a>
        {% for message in messages %}
          {% if 'success' in message.tags %}
            <p class="alert alert-success" role="alert"><span style="font-weight: bold">{{ message }}</span></p>
          {% else %}
            <p class="alert alert-danger" role="alert"><span style="font-weight: bold">{{ message }}</span></p>
          {% endif %}
        {% endfor %}

        <div class="row">
          <div class="col-sm-6">
            <form action="" method="GET" class="form-inline">
              <input type="text" id="search" name="search" class="form-control" placeholder="Busca">
              <input type="submit" class="btn btn-info" style="margin-left: 10px;" value="OK">
            </form>
          </div>
        </div>

        <div class="float-right btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Exportar
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="{% url 'permissao_exportar_csv' %}">CSV</a>
              <a class="dropdown-item" href="{% url 'permissao_exportar_xls' %}">XLS</a>
            </div>
        </div>
    </p>
    <br>
    <h3>Permissão</h3>
    <br>
     <table class="table" id="book-table">
        <thead>
          <tr>
            <th>NCM</th>
            <th>Produto</th>
            <th>Preço</th>
            <th>Estoque</th>
            <th>Estoque Minimo</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
        {% for produto in object_list %}
          <tr>
            <td>{{ produto.ncm }}</td>
            <td class="text-center">{{ produto.produto }}</td>
            <td>R$ <span class="pull-right">{{ produto.preco }}</span></td>
            <td class="text-center">{{ produto.estoque }}</td>
            <td class="text-center">{{ produto.estoque_minimo }}</td>
            <td><a class="btn btn-warning btn-sm js-update-book" href="{% url 'edit_produto' produto.id %}" role="button">Edit</a>
          </tr>
        {% endfor %}
        </tbody>
      </table>

{% endblock content %}