{% extends "core/base.html" %}
{% block content %}

    <h2>Estoque Entrada</h2>
    <br>
    <p>
        <a class="btn btn-info" href="" role="button">Incluir Entrada</a>
        {% for message in messages %}
          {% if 'success' in message.tags %}
            <p class="alert alert-success" role="alert"><span style="font-weight: bold">{{ message }}</span></p>
          {% else %}
            <p class="alert alert-danger" role="alert"><span style="font-weight: bold">{{ message }}</span></p>
          {% endif %}
        {% endfor %}

        <div class="row">
          <div class="col-sm-6">
            <form action="." method="GET" class="form-inline">
              <input type="text" id="search" name="search" class="form-control" placeholder="Busca">
              <input type="submit" class="btn btn-info" style="margin-left: 10px;" value="OK">
            </form>
          </div>
        </div>

        <div class="float-right btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Exportar
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="{% url 'permissao_exportar_csv' %}">CSV</a>
              <a class="dropdown-item" href="{% url 'permissao_exportar_xls' %}">XLS</a>
            </div>
        </div>
    </p>
    <br>
    <h3>Permissão</h3>
    <br>
     <table class="table" id="book-table">
        <thead>
          <tr>
            <th>Item</th>
            <th>NF</th>
            <th>Data</th>
            <th>Funcionário</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
        {% for estoque in object_list %}
          <tr>
            <td>
                <a href="{% url 'estoque_detail' estoque.pk %}">{{ estoque }}</a>
            </td>
            <td class="text-center">{{ estoque.nf_formated }}</td>
            <td><span class="pull-right">{{ estoque.created }}</span></td>
            <td class="text-center">{{ estoque.funcionario }}</td>
            <td><a class="btn btn-warning btn-sm js-update-book" href="" role="button">Edit</a>
          </tr>
        {% endfor %}
        </tbody>
      </table>

{% endblock content %}