{% extends "core/base.html" %}
{% block content %}
    <h2>Movimento do Dia</h2>
    <br>
    <br>
    <br>
     <table class="table" id="book-table">
        <thead>
          <tr>
            <th>Id.</th>
            <th>Centro de Custo</th>
            <th>Natureza Orçamentária</th>
            <th>Valor</th>
            <th>Data Pagamento</th>
            <th>Status</th>
            <th>Mudar Status</th>
          </tr>
        </thead>
        <tbody>
          {% for contasapagar in object_list %}
            <tr>
              <td>{{ contasapagar.id }}</td>
              <td>{{ contasapagar.cliente_contas_a_pagar }}</td>
              <td>{{ contasapagar.natureza_contas_a_pagar }}</td>
              <td>{{ contasapagar.valor_contas_a_pagar }}</td>
              <td>{{ contasapagar.data_pagamento_contas_a_pagar }}</td>
              <td>{{ contasapagar.status_contas_a_pagar }}</td>
              {% if contasapagar.status_contas_a_pagar == 'EFF' %}
                    <td><a class="btn btn-warning btn-sm js-update-book" href="{% url 'baixar_movimento_contas' contasapagar.id %}" role="button">Baixar</a></td>
                {% elif contasapagar.status_contas_a_pagar == 'MOV' %}
                    <td><a class="btn btn-success" href="{% url 'baixar_movimento_contas' contasapagar.id %}" role="button">Baixar</a></td>
                    <td><a class="btn btn-info btn-sm js-delete-book" href="{% url 'retornar_movimento_contas' contasapagar.id %}" role="button">Retornar Evolução</a></td>
                {% elif contasapagar.status_contas_a_pagar == 'BX' %}
                    <td><a class="btn btn-success" href="{% url 'cancelar_baixa' contasapagar.id %}" role="button">Canelar Baixa</a></td>
              {% endif %}
            </tr>
          {% empty %}
            <tr>
              <td colspan="7" class="text-center bg-warning">No book</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock content %}
